<ion-header>
  <ion-toolbar>
    <ion-title>payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="skip-button">
      <ion-col class="ion-text-right">
        <ion-button>SKIP</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="step">
      <ion-col>
        <img src="../../assets/images/icon/step1.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step-green2.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step-green3.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step-green4.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="price ion-text-center">
      <ion-col size="6">
        <p>Equity Margin</p>
      </ion-col>
      <ion-col size="6">
        <p>₹ 0.00</p>
      </ion-col>
    </ion-row>

    <ion-row class="total ion-text-center">
      <ion-col size="6">
        <p>Total Margin</p>
      </ion-col>
      <ion-col size="6" >
        <p>₹ 0.00</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center para">
      <ion-col>
        <h4>CREATE ACCOUNT WITH <span>₹ 0.00</span></h4>
        <h6>Authorized Margin Account Payment of ₹ 0</h6>
        <ion-button>CONTINUE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
