<ion-header>
  <ion-toolbar color="purple" class="ion-text-center">
    <ion-title>OPEN ACCOUNT FOR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-end">
    <ion-button class="skip-btn" color="yellow">Skip</ion-button>
  </div>
  <ion-grid>
    <ion-row class="steps">
      <ion-col>
        <img src="../../assets/images/icon/step1.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step2.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step3.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step.png" alt="">
      </ion-col>
    </ion-row>
    <h4 class="ion-text-center"> <strong> Select Option </strong></h4>
    <ion-row class="cont-box">
      <ion-col>
        <h6>
          <span> &nbsp; BSE</span>
          <ion-icon class="ion-text-center end" name="information-circle-outline"></ion-icon>
        </h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group value="cash">
            <ion-item>
              <ion-icon color="yellow" name="cash-outline"></ion-icon>
              <ion-label>Cash</ion-label>
              <ion-radio color="radio-green" slot="end" value="cash"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon color="yellow" name="server"></ion-icon>
              <ion-label>Currency</ion-label>
              <ion-radio color="radio-green" slot="end" value="currency"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon color="yellow" name="barcode-outline"></ion-icon>
              <ion-label>Derivatives</ion-label>
              <ion-radio color="radio-green" slot="end" value="derivatives"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon color="yellow" name="server"></ion-icon>
              <ion-label>Commodity</ion-label>
              <ion-radio color="radio-green" slot="end" value="commodity"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="cont-box">
      <ion-col>
        <h6>
          <span> &nbsp; NSE</span>
          <ion-icon class="ion-text-center end" name="information-circle-outline"></ion-icon>
        </h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group value="cash">
            <ion-item>
              <ion-icon color="yellow" name="cash-outline"></ion-icon>
              <ion-label>Cash</ion-label>
              <ion-radio color="radio-green" slot="end" value="cash"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon color="yellow" name="server"></ion-icon>
              <ion-label>Currency</ion-label>
              <ion-radio color="radio-green" slot="end" value="currency"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon color="yellow" name="barcode-outline"></ion-icon>
              <ion-label>Derivatives</ion-label>
              <ion-radio color="radio-green" slot="end" value="derivatives"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" color="yellow">CONTINUE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
