<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3 class="ion-text-end top-end">Try other product</h3>
      </ion-col>
      <ion-col>
        <h6>
          <span>&nbsp; Deal Dosti Markets</span>
        </h6>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div class="img">
          <img src="../../assets/images/dosti.png" alt="">
          <div><p>Start Your Investment journey with Deal Dosti Markets!</p></div>
        </div>

        <h1 class="border-bottom"><i>It’s Easy & Stress Free!</i></h1>
        <p class="border-bottom bold">Your Trading Companion for your Stock Market Journey</p>
        <p class="para"><strong>We will put 50% of the amount</strong> you bring as Capital for first time ( subject to a
          maximum of ₹1000)</p>
          <ion-select value="Open Account">
            <ion-select-option>Open Account</ion-select-option>
            <ion-select-option>Already have</ion-select-option>
          </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>