<ion-header>
  <ion-toolbar color="purple" class="ion-text-center">
    <ion-title>REVIEW KYC DETAILS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-end">
    <ion-button color="yellow">Skip</ion-button>
  </div>
  <ion-grid>
    <ion-row class="steps">
      <ion-col>
        <img src="../../assets/images/icon/step1.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step2-green.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step3-green.png" alt="">
      </ion-col>
    </ion-row>
    <div class="scroll">
      <p>Please review data & documents uploaded by you</p>
      <ion-row>
        <ion-card>
          <div class="txt">
            <h6>PAN DETAILS <ion-icon name="create-outline"></ion-icon>
            </h6>
          </div>
          <ion-card-content>
            <ion-item>
              <ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input value="Full Name" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input value="Pan Card No" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="calendar-clear"></ion-icon>
              </ion-label>
              <ion-input value="D.O.B" readonly></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card>
          <div class="txt">
            <h6>PERSONAL DETAILS <ion-icon name="create-outline"></ion-icon>
            </h6>
          </div>
          <ion-card-content>
            <ion-item>
              <ion-label>
                <ion-icon name="man"></ion-icon>
              </ion-label>
              <ion-input value="Father Name" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="woman"></ion-icon>
              </ion-label>
              <ion-input value="Mother Name" readonly></ion-input>
            </ion-item>

            <div class="ion-text-center rows">
              <ion-text>Marital Status- Married</ion-text>
              <ion-text>Gender- Female</ion-text>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card>
          <div class="txt">
            <h6>WORK DETAILS <ion-icon name="create-outline"></ion-icon>
            </h6>
          </div>
          <ion-card-content>
            <ion-item>
              <ion-label>
                <ion-icon name="briefcase"></ion-icon>
              </ion-label>
              <ion-input value="Occupation Details" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="cash"></ion-icon>
              </ion-label>
              <ion-input value="Annual Income" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="cash"></ion-icon>
              </ion-label>
              <ion-input value="Net Wort" readonly></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card>
          <div class="txt">
            <h6>BANK DETAILS <ion-icon name="create-outline"></ion-icon>
            </h6>
          </div>
          <ion-card-content>
            <ion-item>
              <ion-label>
                <ion-icon name="card"></ion-icon>
              </ion-label>
              <ion-input value="Account No" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="cash"></ion-icon>
              </ion-label>
              <ion-input value="Account Type" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input value="IFSC" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input value="Bank Name" readonly></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card>
          <div class="txt">
            <h6>UPLOAD DOCUMENTS <ion-icon name="create-outline"></ion-icon>
            </h6>
          </div>
          <ion-card-content>
            <div class="imgDiv">
              <img src="../../assets/images/review/selfie.png" alt="">
              <img src="../../assets/images/review/sign.png" alt="">
              <img src="../../assets/images/review/cheque.png" alt="">
            </div>

          </ion-card-content>
        </ion-card>

      </ion-row>
    </div>
  </ion-grid>
  <div class="ion-text-center">
    <ion-button color="yellow">Reconfirm & Accept</ion-button>
  </div>
</ion-content>