form{
    width : 100%;
}

.ion-text-end ion-button {
    margin          : 10px;
    width           : 95px;
    --border-radius : 24px;
}
.bottom ion-button{

    width           : 180px;
    --border-radius : 10px;
}
ion-card{
    margin        : auto;
    border-radius : 15px;
    width         : 80%;
    box-shadow    : none;
    border        : 1px solid #707070;
    ion-card-content{
        padding : 0px;
    }
    ion-text{
        float  : left;
        margin : 1px 8px;
    }
}
ion-icon{
    font-size : 20px;
    color     : #E59613;
}
ion-input{
    margin: 0px 15px;
}
ion-col{
    margin: 10px 0px 20px;
}

