ion-header{
    ion-toolbar{
        --background: #702E8F;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
}

h6{
    font-weight: 600;
    margin-left: 20px;
    span{
        padding-left: 10px;
        border-left: 3px solid #E59613;
        margin-left: -15px;
    }
}

.skip-button{
    ion-button{
        --border-radius: 30px;
        --background: #E59613;
        width: 100px;
        margin: 0px;
    }
}

ion-list{
        border: 1px solid #707070;
        border-radius: 20px;
    .ion-item{
        width: 50%;
        display: inline-block;
        padding: 9px 15px 4px;
        ion-radio{
            margin: 0px 9px 5px 9px !important;
            --color-checked: #58e421;
            --border-color: #4a4a4a;
        }
        ion-label{
            vertical-align: super;
        }
    }
}

.select{
    ion-item{
        border: 1px solid #ccc;
        --background: #E59613;
        color: #fff;
        border-radius: 15px;
        margin: 10px 0px;
        ion-select{
            opacity: 1;
            color: #fff;
            width: 100%;
            text-align: center;
        }
    }
}

.btn input{
    opacity: 0.0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 9;

}
.center img{
    width: 50%;
    margin: auto;
}
.center input{
    width: 50%;
    left: 25%;
}

ion-button{
    --background: #E59613;
    width: 150px;
    --border-radius: 15px;
}

p{
    color: #858585;
    font-size: 14px;
}