ion-header{
    ion-toolbar{
        --background: #702E8F;
        color: #fff;
        text-align: center;
    }
}

.skip-button{
    ion-button{
        --border-radius: 30px;
        --background: #E59613;
        width: 100px;
    }
}

.step{
    margin: 20px 0px;
}

.heading{
    h4{
        margin: 0px 10px;
        font-weight: 600;
        border-left: 3px solid #E59613;
        padding-left: 10px;
        ion-icon{
            float: right;
        }
    }
}

ion-item{
    border-radius: 15px;
    border: 1px solid #000;
    margin-top: 15px;

    ion-icon{
        color: #E59613;
        font-size: 20px;
    }
}

.submit{
    ion-button{
        --background: #E59613;
        color: #fff;
        --border-radius: 13px;
        width: 150px;
        margin: 15px 0px;
    }
}