<ion-header>
  <ion-toolbar color="purple" class="ion-text-center">
    <ion-title>FUND SETTLEMENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-end">
    <ion-button class="skip-btn" color="yellow">Skip</ion-button>
  </div>
  <ion-grid>
    <ion-row class="steps">
      <ion-col>
        <img src="../../assets/images/icon/step1.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step2-green.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step3-green.png" alt="">
      </ion-col>
      <ion-col>
        <img src="../../assets/images/icon/step.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="cont-box">
      <ion-col>
        <h6>
          <ion-icon color="yellow" class="ion-text-start" name="help-circle"></ion-icon>
          <span> WHAT IS FUND SETTLEMENT ?</span>
          <ion-icon class="ion-text-center end" name="information-circle-outline"></ion-icon>
        </h6>
      </ion-col>
    </ion-row>
    <h4 class="ion-text-center"> <strong> Select Equity Settlement </strong></h4>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group value="monthly">
            <ion-item>
              <ion-icon color="yellow" name="calendar-number"></ion-icon>
              <ion-label>Monthly</ion-label>
              <ion-radio color="radio-green" slot="end" value="monthly"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon color="yellow" name="calendar"></ion-icon>
              <ion-label>Quarterly</ion-label>
              <ion-radio color="radio-green" slot="end" value="quarterly"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-button class="btn" color="yellow">CONTINUE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>