.cont-box{
    margin-top   : 35px;
    margin-bottom: 22px;
    background   : white;
    .end{
        color: #707070;
        float: right;
    }
}
.container{
    padding: 0px 15px;
    .bottom-line{
        border-bottom: 1px solid #707070;
        padding      : 5%;
        margin       : 10% 0px 2%;
        h6{
            margin          : auto;
            background-color: white;
            padding         : 10px;
            border          : 1px solid #c5c5c5;
            border-radius   : 5px;
        }
        
    }
}

.left, .right{
    width  : 50%;
    display: inline-block;

    ion-radio{
        margin-right: 7px;
        vertical-align: bottom;
    }

    .label{
        vertical-align: text-bottom;
    }
}

.top-line{
    border-top: 1px solid #707070;

    h6{
        margin-bottom: 10px;
    }

    ion-col{
        margin-top: 12px;
    }
    
    ion-item{
        margin    : auto;
        text-align: center;
    }
}

.btn-btm{
    ion-button {
        --border-radius: 9px;
        width          : 150px;
    }
}
.block-2{
    margin: auto;

    ion-item{
        margin-left: 30px;

        ion-label{
            margin-bottom: 12px;
            color        : #707070;
        }

        ion-select{
            margin : auto;

            label{
                display: none;
            }

            ion-select-option{
                opacity: 0;
            }
        }
        
    }
}

.select-icon-inner{
    display: none !important;
}

ion-col{
    h6{    
        border-radius: 2px;
        margin: 4px 0;

        span{
            border-left: 3px solid #E9A721;
            margin-left: 7px;
        }

        ion-icon{
            font-size     : 20px;
            vertical-align: bottom;
        }
    }
}

.select-icon{
    --display: none !important;
    width: 0%; 
}

ion-item{
    border       : 1px solid #c5c5c5;
    border-radius: 5px;
    height       : 45px;
    width        : 250px;
    margin       : 0px 7%;
}

.my-custom-class {
    --background: #222;
}
  

